<!DOCTYPE html> 
<html>
<head>
  <title>Luru Phrase</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<!-- <body onload="playAud()s;"> -->

<!-- The following is supposed to be a simple navigation bar at the top of the page, but is unnecessary at this point

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Luru</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Page 1-1</a></li>
              <li><a href="#">Page 1-2</a></li>
              <li><a href="#">Page 1-3</a></li>
            </ul>
          </li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
              </ul>
            </div>

          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

-->

<!--Dropdown menu for switching languages and showing which language is currently selected -->
  <select name="forma" onchange="location = this.options[this.selectedIndex].value;">
    <option selected disabled><%=@language%></option>
    <option value=<%=params[:id]+"?lang=en"%>>English</option>
    <option value=<%=params[:id]+"?lang=fr"%>>Francais - French</option>
    <option value=<%=params[:id]+"?lang=de"%>>Deutsch - German</option>
    <option value=<%=params[:id]+"?lang=es"%>>Espanol - Spanish</option>
    <option value=<%=params[:id]+"?lang=fi"%>>Suomi - Finnish</option>
    <option value=<%=params[:id]+"?lang=ja"%>>日本人 - Japanese</option>
  </select>


<!--Container for phrase and images -->
  <div class="container">
    <div class="jumbotron" align = "center">
      <h1><%=@phrase_t%></h1>
      <img src= <%= @results.at(0).thumbnail.url %>>
      <img src= <%= @results.at(1).thumbnail.url %>>
      <img src= <%= @results.at(2).thumbnail.url %>>
      <img src= <%= @results.at(3).thumbnail.url %>>
    </div>
  </div>

<!--Place where user can try typing the phrase and see if they got it right.
This is supposed to be on a version of this page where the phrase is not visible -->
  Phrase: <input type="text" id="Phrase_Quiz">
  <button onclick="validateForm()">Submit</button>


    <script>
    function validateForm() {
        var x = document.getElementById('Phrase_Quiz').value;
        if (x == "<%=@phrase_t.to_s%>") {
            alert("Correct!");
        } else {
          alert("Incorrect")
        }
    }
    </script>

<!--These are the buttons to navigate to the next or previous phrases -->
  <div>
   	<div style = "float:right;">
    		<a href= <%="/phrases/#{@next.to_s}?lang=#{params[:lang]}"%> class="btn btn-primary btn-lg" role="button" style="width:150px"><h3>Next</h3></a>
  	</div>

  	<div style = "float:left;">
  		<a href= <%="/phrases/#{@previous.to_s}?lang=#{params[:lang]}"%> class="btn btn-primary btn-lg" role="button" style="width:150px"><h3>Previous</h3></a>
  	</div>
  </div>

<!--This button causes the audio pronunciation to play -->
  <div style = "float; margin-left: auto; margin-right: auto; width:150px">
  	<button onclick="playAud()" class="btn btn-info btn-lg" style="width:150px"><h3>Pronunce</h3></button>
  </div>

<!--This is where the audio for the phrase pronunciation is stored
The javascript is what plays the audio when the "Pronounce" button is pushed-->
  <audio id = 'audio'>
    	<source src=<%= audio_path(@audio_file) %>  type="audio/mpeg">
  </audio>

  <script> 
  	var audio = document.getElementById("audio");

  	function playAud() {
  	    audio.play();
  	}

    window.onload = playAud();
  </script>


</body>
</html>
