<!DOCTYPE html> 
<html>
<head>
  <title>Luru Phrase</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>

<body>

<!--Container for phrase and images -->
  <div class="container">
    <div class="jumbotron" align = "center">
      <h1><%=@translated_phrase_text%></h1>
      <% @image_search_results.each do |image| %>
        <img src= <%= image.thumbnail.url %>>
      <% end %>
    </div>
  </div>

<!--These are the buttons to navigate to the next or previous phrases -->
  <div>
   	<div style = "float:right;">
      <%= link_to("Next", lesson_phrase_path(@lesson, @next_phrase, language_id: current_user.target_language.id), class: "btn btn-primary btn-lg", style: "width:150px") if @next_phrase %>
  	</div>

  	<div style = "float:left;">
  		<%= link_to("Previous", lesson_phrase_path(@lesson, @previous_phrase, language_id: current_user.target_language.id), class: "btn btn-primary btn-lg", style: "width:150px") if @previous_phrase %>
  	</div>
  </div>

<!--This button causes the audio pronunciation to play -->
  <div style = "float; margin-left: auto; margin-right: auto; width:150px">
  	<button onclick="playAud()" class="btn btn-info btn-lg" style="width:150px"><h3>Pronunce</h3></button>
  </div>

<!--This is where the audio for the phrase pronunciation is stored
The javascript is what plays the audio when the "Pronounce" button is pushed-->
  <audio id = 'audio'>
    	<source src=<%= audio_path(@audio_file) %>  type="audio/mpeg">
  </audio>

  <script> 
  	var audio = document.getElementById("audio");

  	function playAud() {
  	    audio.play();
  	}

    window.onload = playAud();
  </script>


</body>
</html>
