<!DOCTYPE html>
<html>
<head>
  <title>Luru</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <% [:notice, :alert].each do |level| %>
    <% if flash[level] %>
      <div class="flash <%= level %>"><%= flash[level] %></div>
    <% end %>
  <% end %>

  <header>
    <p>Currently Learning: <%= "#{current_user.target_language.name}" %></p>

    <aside id="login_status">
      <%= user_logged_in_msg %>
    </aside>
  </header>

  <%= yield %>

</body>
</html>
